input, textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #495057;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: .375rem .75rem 6px 12px;
}

input:focus, textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form-group {
  margin: 30px 0;
}

.form-title {
  display: block;
  font-weight: bolder;
  margin-bottom: 12px;
}

.input-helper {
  margin-bottom: 12px;
}

.input-helper i {
  display: block;
  color: #555;
  font-size: 0.9rem;
  margin: 5px 0;
}

.entry, .entry-add {
  margin: 25px 0;
  position: relative;
}

.entry .select-type {
  width: 20%;
}

.entry .select-instructor {
  margin: 0 15px;
  width: 35%;
}

.entry .select-coord {
  width: 25%;
}

.entry .mdc-icon-button {
  position: absolute;
  right: 20px;
  top: -7px;
}

.entry-add select {
  width: 20%;
}

select {
  padding: 6px 5px;
}

ol h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

ol {
  padding-left: 1em;
}

.custom-form textarea, .custom-form input[type="text"] {
  width: calc(100% - 75px);
}

.custom-form.input-compact .entry {
  margin: 5px 0;
}

.delete-btn {
  color: rgba(224, 69, 95, 1);
}

.grade-entry {
  display: grid;
  grid-template-columns: 100px 2fr 80px .75fr 50px;
  grid-column-gap: 1em;
}

.grade-entry label {
  text-align: right;
  margin-top: 15px;
}

.grade-entry input {
  display: inline;
}

.grade-entry-add {
}

.section {
  margin-top: 50px;
}

.form-section {
  margin-top: 20px;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-column-gap: 1em;*/
}

.full {
  display: grid;
  grid-template-columns: 15% 85%;
}

.full input[type="text"] {
  display: inline;
  width: 100%;
}

.half {
  display: grid;
}

.left {
  grid-template-columns: 30% 50% 20%;
}

.right {
  grid-template-columns: 20% 30% 50%;
}

.m-t-10px {
  margin-top: 10px;
}

.half input[type="date"], .half input[type="time"] {
  display: inline;
  width: auto;
}

table th {
  line-height: 2;
  padding-bottom: 10px;
}

table td {
  color: #4C4C4C;
  height: 50px;
}

table td, table th {
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

ul li {
  line-height: 1.5;
  text-align: justify;
}
