*:not(input) {
  box-sizing: border-box;
}

.banner {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.banner-logo {
  background-color: #980001;
  height: 60px;
}

.banner-logo img {
  height: 35px;
  margin: 14px 0 0 30px;
}

.mdc-list {
  margin-top: 20px;
}

a.mdc-list-item {
  font-weight: 300;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: -1px;
}

.left-wrapper {
  margin: 0 1.25rem;
}

footer {
  border-top: 1px solid #bbb;
  padding-top: 50px;
  margin-top: 40px;
}

footer .logo {
  width: 125px;
  transform: translateX(-3px);
}

footer p {
  font-size: .7rem;
  color: #666;
  margin: 0.3rem 0;
  line-height: 1.1;
}

.main {
  padding: 80px 0 60px;
}

.main-wrapper {
  padding: 10px;
  max-width: 750px;
  margin: 0 auto;
}

.main-wrapper .title {
  font-weight: 400;
  margin-top: 10px;
}

.main-wrapper .subtitle {
  color: #333;
}

#main-form {
  margin: 20px 0;
}

/* color */

:root {
  --mdc-theme-primary: #980001;
  --mdc-theme-secondary: #ffcb03;
  --mdc-theme-text-hint-on-light: #980001;
}

#menu-links a.mdc-list-item {
  color: #980001;
}

#menu-links a:hover {
  background-color: #ffe592;
  color: #111;
}

.main .mdc-text-field--focused:not(mdc-text-field--disabled) .mdc-floating-label {
  color: #980001;
}