* {
  box-sizing: border-box;
}

.banner {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.banner-logo {
  background-color: #980001;
  height: 60px;
}

.banner-logo img {
  height: 35px;
  margin: 14px 0 0 30px;
}

.banner-title {
  background-color: #ffcb03;
  height: 40px;
}

.banner-title h4 {
  margin: 0;
  padding: 10px 0 0 30px;
  font-weight: 500;
  color: #111;
  font-size: 1.25rem;
}

.banner-title h4 span {
  font-weight: lighter;
  color: #333;
  font-size: 1.2rem;
}

.left-col {
  padding-top: 120px;
  position: fixed;
  height: 100%;
  width: 280px;
  background-color: #f2f2f2;
  overflow: auto;
}

.left-col .subtitle {
  font-weight: 500;
  margin-bottom: 0;
}

.left-control {
  position: absolute;
  bottom: 10px;
  left: 1.25rem;
}

.left-control button {
  margin: 10px 0;
}

.course-info p {
  margin: 0;
  font-weight: bold;
}

a.mdc-list-item {
  font-weight: 300;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: -1px;
}

.left-wrapper {
  margin: 0 1.25rem;
}

footer {
  border-top: 1px solid #bbb;
  padding-top: 50px;
  margin-top: 40px;
}

footer .logo {
  width: 125px;
  transform: translateX(-3px);
}

footer p {
  font-size: .7rem;
  color: #666;
  margin: 0.3rem 0;
  line-height: 1.1;
}

.main {
  padding: 100px 0 60px;
  margin-left: 280px;
}

.main-wrapper {
  padding: 10px;
  max-width: 750px;
  margin: 0 auto;
}

.main-wrapper .title {
  font-weight: 400;
}

#main-form {
  margin: 20px 0;
}

hr {
  border-color: #f4f4f4;
  border-width: 1px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.buttons button {
  margin-right: 7px;
}

/* color */

:root {
  --mdc-theme-primary: #980001;
  --mdc-theme-secondary: #ffcb03;
}

#menu-links a.mdc-list-item {
  color: #980001;
}

#menu-links a:hover {
  background-color: #ffe592;
  color: #111;
}

#menu-links a.mdc-list-item.active {
  color: white;
  background-color: #eab50a;
  border-color: #ffcb03;
}
